global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  - "alert_rules.yml"

alerting:
  alertmanagers:
    - static_configs:
        - targets: []

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'market-intel-api'
    static_configs:
      - targets: ['market-intel-api-service.market-intel.svc.cluster.local:80']
      metrics_path: /metrics
      scrape_interval: 10s

  - job_name: 'node-exporter'
    static_configs:
      - targets: ['node-exporter.monitoring.svc.cluster.local:9100']

  - job_name: 'postgres-exporter'
    static_configs:
      - targets: ['postgres-exporter.monitoring.svc.cluster.local:9187']

  - job_name: 'redis-exporter'
    static_configs:
      - targets: ['redis-exporter.monitoring.svc.cluster.local:9121']
